{% extends "layout.html" %}

{% block body %}

  <h1>Register</h1>

  <form action="/register" method="POST">
    <input name="name" autocomplete="off" type="text" autofocus placeholder="Name">
    <select name="sport">
      <option disabled selected value="">Sport</option>
      <!-- for-loop to iterate over the `sports` list that was passed over in app.py -->
      {% for sport in sports %}
        <option value="{{ sport }}">{{ sport }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Register">
  </form>

{% endblock %}